<!--
=========================================================
* * Weather Station
=========================================================

* Layout for all the web pages


* Author: JB LAFFOSSE
* Date: 2024-09-24
* Version: 1.0.0
* License: None

=========================================================
-->

<!doctype html>
<html>
    <head>
        {% if title %}
            <title>{{ web_page_content.title }} - Weather Station</title>
        {% else %}
            <title>Weather Station</title>
        {% endif %}
    </head>
    <body>
        <div>
            Weather Station: <a href="/index">Home</a>
        </div>
        {% block page_content %}{% endblock %}
    </body>
<html>