<!--
=========================================================
* * Weather Station
=========================================================

* Allow to display weather forecasts


* Author: JB LAFFOSSE
* Date: 2024-09-25
* Version: 1.0.0
* License: None

=========================================================
-->

{% extends "base.html" %}

{% block page_content %}
        <h1>
            This tab is still in progress ...<br>
            Please wait for future release
        </h1>
        
        <!-- Display a button to allow the user to return to the home page -->
        <form action="" method="post">
            <button name="back_button" value="back">Return</button>
        </form>
        
{% endblock %}