<!--
=========================================================
* * Weather Station
=========================================================

* Index for the web page


* Author: JB LAFFOSSE
* Date: 2025-01-23
* Version: 2.0.0
* License: None

=========================================================
-->

{% extends "base.html" %}

{% block page_content %}
        <h1>Congratulations, this is your first web app!</h1>
        
        {% for weather_station in weather_stations %}
        <div>
            <p><b>{{ weather_station.station_name }}</b><br>{{ weather_station.station_description }}</p>
        </div>
        {% endfor %}
{% endblock %}